body {
    padding: 0px;
    margin: 0px;
}
.game{
  display: none;

}
#main {
    width: 100%;
    position: relative;
    min-height: 650px;
    background-image: url("../assets/images/backgrounds/img-main-backgroung.gif");
    background-size: cover;
    -webkit-background-size: cover;
}

#canvas {
    width: 566px;
    height: 566px;
    background-image: url("../assets/images/backgrounds/building2.gif");
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 100%;
    min-height: 650px;
    background-image: url("../assets/images/backgrounds/img-menu-background.gif");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

.img-menu-girl {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.game-over-menu {
    width: 1024px;
    height: 600px;
      position: absolute;
      display: none;
      left: 10%;
      top: 3%;
      z-index: 10;
      background: url('../assets/images/backgrounds/background-game-over.png');
  }

  .game-over-menu .menu-button {
    position: absolute;
    display: block;
    left: 382px;
    top: 90px;
    width: 240px;
    height: 94px;
    cursor: pointer;
      background: url('../assets/images/game-over/img-btn-menu.png');
   border: none;
     outline: none;
}

#start {
    cursor: pointer;
    position: absolute;
    top: 397px;
    padding: 15px;
    display: block;
    background: url("../assets/images/menu/play-button.gif");
    background-repeat: no-repeat;
    width: 147px;
    height: 98px;
    border: none;
    outline: none;
}

#buttonDisc {
    cursor: pointer;
    position: absolute;
    top: 500px;
    margin: auto;
    display: block;
    padding: 15px;
    background: url("../assets/images/menu/img-controls-button.gif");
    background-repeat: no-repeat;
    width: 214px;
    height: 94px;
    border: none;
    outline: none;
}

#controls-description {
    background: url("../assets/images/controls-frame/controls-background.png")no-repeat;
    display: none;
    position: absolute;
    width: 300px;
    top: 400px;
    left: 250px;
    padding: 100px;
}

#mute {
    cursor: pointer;
    position: absolute;
    background: url("../assets/images/soundbtns/btn-snd-on.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 40px;
    border: none;
    outline: none;
}

#unmute {
    cursor: pointer;
    display: none;
    position: absolute;
    background: url("../assets/images/soundbtns/btn-snd-off.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 40px;
    border: none;
    outline: none;
}

.lives {
  float: left;
  width: 100px;
  height: 40px;
  padding-left: 15%;
}
.lives1 {
  float: left;

  width: 50px;
  height: 40px;
  background: url("../assets/images/moving-units/img-sombrero.png");
}


.lives3 {
  float: right;
  width: 50px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.score {
  float: right;
  width: 100px;
  height: 40px;
  padding-right: 15%;

}
.scoreImg {
  float: left;
  width: 40px;
  height: 50px;
  background: url("../assets/images/moving-units/img-bra.png");
}
.scoreCount {
  float: right;
  width: 30px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
}
