#canvas {
  width: 566px;
  height: 575px;
  border: 1px solid black;
  background-image: url("building.gif");
  display: none;
}
#menu {
	width:90%;
	height:570px;
	background-image: url("building.gif");
	background-repeat: no-repeat;
<<<<<<< HEAD
	/*position: absolute;*/
=======
	position: absolute;
>>>>>>> a99b18333ef6ede3a54279bf80f79285649289f5
}
#start {
	position: relative;
	top: 200px;
	padding: 15px;
	margin:auto;
	display: block;
	
}

#buttonDisc {

	position: relative;
	top: 250px;
	margin:auto;
	display: block;
	padding: 15px;
}
#disc {
	display: none;
	padding-top:  300px;
}